@{
    ViewData["Title"] = "Store Page";
}

<div class="row storeHeader">
    <h1>Store Page</h1>
    <p>Store description</p>
</div>
<div class="row">
    <div class="d-flex justify-content-center">
        <h2>Feature Message</h2>
    </div>
</div>
<div class="row">
    
</div>
