html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.StoreImage {
  height: 90%;
  width: 90%;
}

.parentContainer {
  position: relative;
  text-align: center;
  color: white;
}

.ImageText {
  position: absolute;
  top: 25%;
  font-size: 5vw;
  font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  color: white;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

.HighlightImage {
  height: 25vw;
  width: 25vw;
  margin: 0 0 1vw 0;
}

.pageHeader {
  background-color: slategray;
  color: white;
  border-radius: 4px;
  margin: 0 0 1vw 0;
}

.SubmissionImage {
  height: 15vw;
  width: 15vw;
}

.FeaturedArtTag {
  padding-top: 2vw;
}

.galPreview {
  margin-bottom: 1vw;
}

.hours {
  border-right: solid 1px black;
}

.formInput {
  width: 50%;
  margin: auto 3%;
}

.formTextArea {
  width: 90%;
  height: 200px;
  margin: auto 3%;
}

.formStyle {
  color: black;
}

.review {
  padding: 1vw;
  margin-bottom: 1vw;
}

.submission {
  padding: 1vw;
  margin-bottom: 1vw;
}

.productTable {
  
}