<div class="container text-center pageHeader">
    <div class="row">
        <h1>Events</h1>
    </div>
    <div class="row">
        <p>Short description of the page</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-2">
            <img src="./Images/SquarePlaceholder.png" alt="EventIcon">
        </div>
    </div>
</div>