<div class="container text-center pageHeader">
    <div class="row">
        <h1>Events</h1>
    </div>
    <div class="row">
        <p>Upcoming in store events</p>
    </div>
</div>

<div class="container">
    <!-- Store Event -->
    <div class="row">
        <div class="col-4">
            <img src="~/Images/christmasGifts.jpg" alt="Christmas presents" class="img-fluid">
        </div>
        <div class="col-8">
            <h3>Christmas Gift Exchange</h3>
            <p style="text-indent: 2vw;">
                Join us for a festive Christmas Gift Exchange at Eugene Fine Art! Celebrate the season of giving with fellow art 
                enthusiasts in a cozy, creative atmosphere. To participate, first come in store before the 19th and fill out a 
                gift list. Next you will receive the list of another participant, and choose items off their list to buy ($15 minimum). 
                On the 19th, we will hold the exchange in our gallery from 6-8pm. Light refreshments and seasonal treats will be 
                provided to make the evening even merrier. Don’t miss this opportunity to spread holiday cheer and connect with your 
                local art community!
            </p>
        </div>
    </div>
    <hr/>

    <!-- Store Event -->
    <div class="row">
        <div class="col-4">
            <img src="~/Images/gallery.jpg" alt="Art show gallery" class="img-fluid">
        </div>
        <div class="col-8">
            <h3>Upcoming change in gallery artists</h3>
        </div>
    </div>
    <hr/>
    
</div>

