@model List<Submission>

<div class="row pageHeader text-center">
    <h1>User Submissions</h1>
    <p>Submissions description</p>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3> Title - UserName</h3>
            <p>Date</p>
        </div>
    </div>
    <div class="row">


    </div>
</div>

@if (Model != null)
{
    @foreach (Submission s in Model)
    {
        
    }
}