
<div class="d-flex justify-content-center">
    <div class="col">
        <div class="row pageHeader text-center">
            <h1>About Us</h1>
        </div>

        <div class="row">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget nisl quam. Donec sem dolor, auctor eu mauris in,
                vestibulum sagittis purus. Nullam luctus turpis tempus, fermentum purus a, ultrices elit. Duis convallis mattis tortor,
                non condimentum dolor posuere a. Fusce a odio at mi mattis egestas. Morbi nunc lorem, pretium a ligula non, condimentum
                feugiat augue. Integer viverra consectetur quam ut vulputate. Nunc mollis aliquam tellus a elementum. Nunc iaculis massa
                elit, non tincidunt elit euismod ac. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>


            <p>In sed placerat diam. Aenean sed interdum sapien. Curabitur varius, erat nec imperdiet dictum, tortor ligula dictum libero,
                at egestas mauris leo rutrum urna. Mauris porta commodo orci, non gravida augue dictum eget. Nullam non laoreet erat, vel
                tempor dolor. Suspendisse nec purus vel lorem faucibus suscipit. Vivamus imperdiet elit et justo mollis, eget accumsan dui
                lacinia. Etiam vehicula sapien eu maximus tincidunt. Sed elementum velit vitae elit porttitor, nec pulvinar mi pretium.</p>
        </div>
    </div>
    
    <img src="" alt="">
</div>