@{
ViewData["Title"] = "About";
}

<div class="d-flex justify-content-center">
    <div class="col">
        <div class="row pageHeader text-center">
            <h1>About Us</h1>
        </div>

        <div class="row">
            <p style="text-indent: 2vw;">
                Welcome to Eugene Fine Art, your premier destination for all things creative and inspiring. Located in the heart 
                of Eugene, Oregon, we are more than just an art store; we are a vibrant hub for artists, collectors, and art 
                enthusiasts. Our store offers a wide selection of high-quality art supplies, from paints and brushes to canvases 
                and specialty tools, catering to beginners and seasoned professionals alike. Whether you're embarking on a new 
                artistic journey or refining your craft, our knowledgeable team is here to guide you every step of the way.
            </p>
            
            <p style="text-indent: 2vw;">
                In addition to our retail offerings, Eugene Fine Art proudly features a full gallery showcasing a rotating 
                selection of exceptional works by local and regional artists. Our gallery is a space where art comes alive 
                through exhibitions, workshops, and community events, including artist talks, live demonstrations, and private 
                showings. We believe in fostering connections between creators and the community, making Eugene Fine Art a 
                cornerstone of the local art scene. Explore our gallery, attend an event, or find the perfect piece to add to 
                your collection—we look forward to inspiring your creativity.
            </p>
        </div>
    </div>
    
    <img src="" alt="">
</div>